<%= form_with(model: [:admin, @restaurant], local: true) do |form| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% @restaurant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :cuisine %>
    <%= form.text_field :cuisine %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field" id="pictures-container">
    <%= form.label :pictures, "Upload pictures" %>

    <!-- Existing pictures -->
    <% if @restaurant.pictures.attached? %>
      <div id="existing-pictures">
        <% @restaurant.pictures.each do |picture| %>
          <div class="existing-picture">
            <%= image_tag picture, size: "100x100" %>
            <%= form.check_box :_destroy, { data: { picture_id: picture.id } }, false, true %>
            <%= label_tag :_destroy, "Remove this picture" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- New picture input -->
    <div class="new-picture-inputs">
      <div class="picture-input-box">
        <%= form.file_field :pictures, multiple: true, class: 'picture-input' %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<% if @restaurant.id.present? %>
  <%= link_to 'Show', admin_restaurant_path(@restaurant) %> |
<% end %>
<%= link_to 'Back', admin_restaurants_path %>
